
TABLE   {
		font-family:verdana;
		font-size: 10px;
	}

INPUT   {
		background-color: #000000;
		border-color: #c0c0c0;
		border-width: 3;
		color: #FFFFFF;
		font-size: 8pt;
		font-family: verdana;
	}

BODY	{
		background: url(chessBG.jpg);
	}

.disabled-dark{background-color: #444444;}
.disabled-light{background-color: #BBBBBB;}
.enabled-dark{background-color: #BBBBBB;}
.enabled-light{background-color: #EEEEEE;}
